@page "/verifyauth"
<h3>VerifyAuth</h3>

@if (_user!.Identity!.IsAuthenticated)
{
    <p class="text-success">User is Autheticated</p>
    <p>Claims: </p>
    <ul>
        @foreach (var item in _user.Claims.ToList())
        {
            <li>@item.Type @item.Value</li>
        }
    </ul>

@*     <ul>
        <li>Id: @(_user.FindFirst(ClaimTypes.Sid)!.Value)</li>
        <li>Id: @(_user.Claims.First(x => x.Type == ClaimTypes.Sid)!.Value)</li>
        <li>UserName: @(_user.FindFirst(ClaimTypes.Name)!.Value)</li>
        <li>Email: @(_user.FindFirst(ClaimTypes.Email)!.Value)</li>
        <li>First Name: @(_user.FindFirst("firstName")!.Value)</li>
        <li>Last Name: @(_user.FindFirst("lastName")!.Value)</li>
        <li>Role: @(_user.FindFirst(ClaimTypes.Role)!.Value)</li>

        <li>Admins role: @(_user.IsInRole(ApplicationConstants.Roles.Admins) ? ApplicationConstants.Roles.Admins :"")</li>
        <li>Customers role: @(_user.IsInRole(ApplicationConstants.Roles.Customers) ? ApplicationConstants.Roles.Customers : "")</li>
    </ul> *@
}
else
{
    <p class="text-danger">User is NOT Autheticated</p>
}

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    private ClaimsPrincipal? _user;

    protected override async Task OnParametersSetAsync()
    {
        var authState = await AuthState;
        _user = authState.User;
    }
}
